@font-face {
  font-family: "nationalRegular";
  src: url(../UX/national-regular.otf); }
@font-face {
  font-family: "purePakati";
  src: url("../UX/PurePakati-Regular.otf") format("opentype"); }
@font-face {
  font-family: "nationalMedium";
  src: url(../UX/national-medium.otf); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 65.5%; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

.nav {
  min-height: 10vh;
  width: 100vw;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav-logo {
    height: 6vh;
    padding-left: 3rem; }
  .nav-ul {
    display: flex;
    align-items: center;
    margin: 1rem; }
  .nav-li {
    font-size: 1.3rem;
    color: black;
    padding: 1rem; }
  .nav-right {
    display: flex; }

.search-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 1rem;
  margin-right: 1rem;
  height: 4.5vh; }

.search-box {
  background: none;
  border: none;
  border-right: 2px solid black; }

.search-icon {
  pointer-events: none;
  font-size: 1.5rem;
  color: black;
  margin: 0.5rem;
  padding-left: 0.3rem;
  cursor: pointer; }

.hamburger-menu {
  height: 35px;
  display: none; }

/* media queries */
.intro {
  height: 83vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/roys-peak.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .intro-header {
    font-family: 'nationalMedium';
    text-transform: uppercase;
    font-size: 5rem;
    color: white;
    margin-bottom: -25px; }
  .intro-header__two {
    font-family: 'purePakati';
    text-transform: uppercase;
    font-size: 15rem;
    color: white; }
  .intro-paragraph {
    font-size: 2rem;
    color: white;
    font-family: "nationalRegular"; }

.form-container {
  width: 100vw;
  height: 10vh;
  position: relative; }

.form {
  overflow: hidden;
  min-height: 70%;
  min-width: 45%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 2.5rem; }

.form-item {
  height: 80%;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.1); }

.form-input {
  padding: 0.5rem;
  background: none;
  border: none; }

.form-input__location, .form-input__people {
  margin-top: 0.5rem; }

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: blue; }

.submitBtn {
  width: 20%;
  background: none;
  padding: 1rem;
  border: none;
  cursor: pointer; }

.submitBtn:hover {
  color: #d89a9a; }

.modal-dialog {
  max-height: 50vh;
  max-width: 70vw;
  overflow-x: hidden; }

.modal-header {
  height: 20%;
  width: 100%; }
  .modal-header__left {
    font-family: "nationalRegular";
    line-height: 1rem;
    padding: 1rem;
    height: 100%;
    width: 48%; }
  .modal-header__name {
    font-size: 3rem; }
  .modal-header__address {
    font-size: 1.5rem; }
  .modal-header__middle {
    display: flex;
    height: 100%;
    width: 48%;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .modal-header__icons {
    padding-right: 1rem;
    display: flex;
    flex-direction: row; }
  .modal-header__right {
    height: 100%;
    width: 4%; }

.modal-carousel {
  height: 40vh; }

.modal-header__info {
  padding-left: 1rem; }

.fa-cloud-moon {
  font-size: 2rem; }

.fa-user-group {
  font-size: 2rem; }

.modal-body {
  overflow-x: hidden; }

.fa-user-group, .fa-house-night {
  padding-left: 0.5rem; }

.modal-body__top {
  display: flex; }

.modal-info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal-info__text {
    padding-top: 1rem;
    font-size: 2rem;
    width: 90%; }

.carousel-item {
  min-height: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.fa-check {
  font-size: 2rem; }

.checkmarks {
  min-height: 10vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: none;
  background: yellow;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .checkmarks-individual {
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 20vw;
    background: green; }
  .checkmarks-text {
    padding-left: 1rem; }

.modal-body__bottom {
  min-height: 40vh;
  width: 70vw;
  display: flex;
  flex-wrap: wrap; }

.map-container {
  height: 40vh;
  width: 50%;
  background: yellowgreen;
  display: flex; }

.modal-form {
  height: 40vh;
  width: 50%;
  display: flex; }

.footer {
  background: black;
  min-height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center; }

.tnz-logo {
  padding-left: 1rem;
  height: 6vh; }

.acommodation-container {
  height: 83vh;
  width: 100vw;
  background: url(../img/roys-peak.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  overflow-y: scroll;
  display: none; }

.filter-detail {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  justify-content: flex-end;
  position: fixed;
  z-index: 100; }

.card-container {
  height: 95%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card {
  padding: 0.2rem;
  margin: 2rem;
  height: 50vh;
  width: 650px;
  border-radius: 3rem;
  font-family: "nationalRegular";
  cursor: pointer; }

.card-img-top {
  min-height: 80%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 2.8rem 2.8rem 0 0;
  object-fit: cover; }

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem; }

.card-title {
  font-size: 1.7rem; }

.card-text {
  font-size: 1.2rem; }

/*# sourceMappingURL=style.css.map */
