.confirmed-container{
    height: 83vh;
    width: 100vw;
    background: url(../img/roys-peak.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    overflow-y: scroll;
    display: none;
}