.intro{
    height: 83vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/roys-peak.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   

    &-header{
        font-family: 'nationalMedium';
        text-transform: uppercase;
        font-size: 5rem;
        color: white;
        margin-bottom: -25px;
        
    }

    &-header__two{
        font-family: 'purePakati';
        text-transform: uppercase;
        font-size: 15rem;
        color: white;
        
    }

    &-paragraph{
        font-size: 2rem;
        color: white;
        font-family: "nationalRegular";
    }
}


.form-container{
    width: 100vw;
    height: 10vh;
    position: relative;
}

.form{
    overflow: hidden;
    min-height: 70%;
    min-width: 45%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 2.5rem;

    &-item{
        height: 80%;
        padding: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        border-right: 0.1rem solid rgba(0,0,0,0.1);
    }

    &-input{
        padding: 0.5rem;
        background: none;
        border: none;        
    }

    &-input__location, &-input__people{
        margin-top: 0.5rem;
    }

}



input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
color: blue;
}

.submitBtn{
    width: 20%;
    background: none;
    padding: 1rem;
    border:none;
    cursor: pointer;
}

.submitBtn:hover{
    color: rgb(216, 154, 154);
}

