.modal-dialog{
    max-height: 50vh;
    max-width: 70vw;
    overflow-x: hidden;
}

.modal-header{

    height: 20%;
    width: 100%;
    display: flex;

    &__left{
        font-family: "nationalRegular";
        line-height: 1rem;
        padding: 1rem;
        height: 100%;
        width: 48%;
    }


    &__name{
        font-size: 3rem;
    }

    &__address{
        font-size: 1.5rem;
    }


    &__middle{

        display: flex;
        height: 100%;
        width: 48%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__icons{
        padding-right: 1rem;
        display: flex;
        flex-direction: row;
    }

    &__right{
        height: 100%;
        width: 4%;
    }

}

.modal-carousel{
    // height: 40vh;
    height: 100%;
}



.modal-header__info{
    padding-left: 1rem;
    font-family: "nationalRegular";
}

.fa-cloud-moon{
    font-size: 2rem;
}

.fa-user-group{
    font-size: 2rem;
    
}

.modal-body{
    overflow-x: hidden;
}
.fa-user-group, .fa-house-night{
    padding-left: 0.5rem;

}

.modal-body__top{
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

.modal-info{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    &__text{
        padding-top: 1rem;
        font-size: 2rem;
        width: 90%;
        font-family: "nationalRegular";
    }

}

.carousel-inner{
    height: 100%;
}
.carousel-item{
    max-height: 600px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.fa-check{
    font-size: 2rem;
}



.checkmarks{
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    margin: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;

    &-individual{

        padding: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3vh;
        width: 20vw;

    }

    &-text{
        padding-left: 1rem;
        font-family: "nationalRegular";
    }
}


.modal-body__bottom{
    min-height: 40vh;
    width: 70vw;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 1rem;
}

.map-container{
    min-height: 40vh;
    width: 50%;
    display: flex;
}






.modal-innerform{
    min-height: 40vh;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "nationalRegular";


}
.modal-form{
    min-height: 40vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container{
        height: 100%;
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 2rem;
    }
}


.confirmation-form{
    margin-top: 1rem;
    min-height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    padding: 1.5rem;
    border: none;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.confirmation-form__name{
    height: 18%;
    width: 100%;
    display: flex;
}

.enter-name{
    height: 4rem;
    width: 46%;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.enter-name::placeholder{
    font-size: 1.5rem;
    padding-left: 1rem;
}



.checkinandout{
    display: flex;
    width: 100%;
    height: 20%;
}

.date-checkin{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.date-input{
    padding: 1.5rem;
}
.date-checkout{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.date-header{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
}

.date-input{
    height: 5rem;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.guest-select{
    height: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

option{
    padding: 1rem;
}

.guests{
    height: 5rem;
    width: 96%;
    margin: 1rem;  
    padding-left: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gueststext{
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 5rem;
}

.final-container{
    height: 44%;
    width: 100%;
    display: flex;
}

.meals{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-left: 2rem;   
}

.meals-header{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;

}

.confirmation-container{
    min-height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-body__right{
    text-align: right;
}

.meal-select{
    width: 90%;
    margin-top: 1rem;
    padding: 0.3rem;
    
}

.total-paragraph{
    font-size: 2rem;
}

.order-total{
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.confirm-button{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}


// ========================================
// media queries -- tablet
// ========================================

@media only screen and (min-width:426px) and (max-width:768px){

    .modal-dialog{
        max-height: 50vh;
        min-width: 100vw;
        overflow-x: hidden;
    }
    .modal-body__top{
        flex-wrap: wrap;
    }

    .modal-info__text{
        font-size: 1.5rem;
    }

    .modal-body__bottom{
        width: 100%;
    }

    .map-container{
        width: 50%;
    }

    .modal-form__container{
        width: 100%;
        padding-left: 1rem;
    }
    .modal-form{
        width: 100%;
    }
}


// ========================================
// media queries -- mobile
// ========================================

@media only screen and (max-width:425px){

    .modal-dialog{
        max-height: 50vh;
        max-width: 100vw;
        overflow-x: hidden;
    }

    
    .modal-header{
        flex-wrap: wrap;
    }

    .modal-body__top{
        flex-wrap: wrap;
    }

    .modal-header__address{
        line-height: 1.6rem;
    }

    .modal-info__text{
        font-size: 1rem;
    }

    .modal-header__middle{
        flex-direction: column;
    }

    .checkmarks{
        flex-direction: column;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        &-individual{
            width: 100%;
            padding: 1rem;
            width: 100%;
        }
    }

    .modal-body__bottom{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }
    .map-container{
        min-height: 40vh;
        width: 100%;
        display: flex;
    }

    .fa-check{
        font-size: 1.3rem;
    }

    .modal-innerform{
        width: 100%;
    }

    .modal-form__container{
        width: 100%;
    }
    .modal-form{
        width: 100%;
    }

    .modal-form__header{
        padding-top: 2rem;
    }
}