.nav{
    min-height: 10vh;
    width: 100vw;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo{
        height: 6vh;
        padding-left: 3rem;
    }

    &-mobile__logo{
        height: 6vh;
        padding-right: 17rem;
        display: none;
    }

    &-ul{
        display: flex;
        align-items: center;
        margin: 1rem;
        
    }

    &-link{
        font-size: 1.5rem;
        color: black;
        padding: 1rem;
    }

    &-right{
        display: flex;
    }
}

a{
    color: black;
}

a:hover{
    color: rgb(41, 173, 229);
}

.search-container{
    
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin-right: 1rem;
    height: 4.5vh;
}

.search-box{
    background: none;
    border: none;
    border-right: 2px solid black;
}

.search-icon{
    pointer-events: none;
    font-size: 1.5rem;
    color: black;
    margin: 0.5rem;
    padding-left: 0.3rem;
    cursor: pointer;
}

.hamburger-menu{
    height: 50px;
    display: none;
}


.nav-mobile{
    // is not applying style in the document flow, can't find issue so have
    // applied the display none to inline styling on html
    display: none !important;
    width: 100%;
    min-height: 7vh;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 0.1rem solid rgba(0,0,0,0.1);


    &__ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 0.5rem;

    }

    &__list{
        letter-spacing: 0.1rem;
        list-style: none;
        padding-top: 0.5rem;        
    }
}
// ========================================
// media queries -- mobile
// ========================================

@media only screen and (max-width:425px){

    .nav{
        justify-content: space-between;
    }
    .nav-logo{
        display: none;

    }
    
    .nav-mobile__logo{
        display: block;



    }
    .hamburger-menu{
        display: block;
        padding-right: 1rem;


    
    }

    .nav-mobile{
        display: block !important;
    }

    .nav-ul{
        display: none;
    }

}