.nav{
    min-height: 10vh;
    width: 100vw;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo{
        height: 6vh;
        padding-left: 3rem;
    }

    &-mobile{
        height: 6vh;
        display: none;
    }

    &-ul{
        display: flex;
        align-items: center;
        margin: 1rem;
        
    }

    &-link{
        font-size: 1.5rem;
        color: black;
        padding: 1rem;
    }

    &-right{
        display: flex;
    }
}

a{
    color: black;
}

a:hover{
    color: rgb(41, 173, 229);
}

.search-container{
    
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin-right: 1rem;
    height: 4.5vh;
}

.search-box{
    background: none;
    border: none;
    border-right: 2px solid black;
}

.search-icon{
    pointer-events: none;
    font-size: 1.5rem;
    color: black;
    margin: 0.5rem;
    padding-left: 0.3rem;
    cursor: pointer;
}

.hamburger-menu{
    height: 50px;
    display: none;
}

// ========================================
// media queries -- mobile
// ========================================

@media only screen and (max-width:425px){

    .nav{
        justify-content: space-between;
    }
    .nav-logo{
        display: none;

    }

    .nav-mobile{
        display: block;



    }
    .hamburger-menu{
        display: block;


    
    }

    .nav-ul{
        display: none;
    }

}